/////////////////////////////////////////////////////////////////////////////
//
// Version
//

#include "MyCPP_VersionedVersion.h"

#define RC_MAKE_STR(m) #m
#define RC_MACRO_AS_STR(m) RC_MAKE_STR(m)

#define RC_FILE_DESCRIPTION "TwinCAT C++ Executable for '" RC_MACRO_AS_STR(TC_CFG_PLTF) "'"



1 VERSIONINFO
 FILEVERSION MyCPP_Versioned_FileVersionMajor, MyCPP_Versioned_FileVersionMinor, MyCPP_Versioned_FileVersionBuild, MyCPP_Versioned_FileVersionRevision
 PRODUCTVERSION MyCPP_Versioned_ProductMajor, MyCPP_Versioned_ProductMinor, MyCPP_Versioned_ProductBuild, MyCPP_Versioned_ProductRevision
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", MyCPP_Versioned_CompanyNameStr
            VALUE "FileDescription", RC_FILE_DESCRIPTION
            VALUE "FileVersion", MyCPP_Versioned_FileVersionRcStr
            VALUE "InternalName", MyCPP_Versioned_InternalNameStr
            VALUE "LegalCopyright", "TODO: Add legal copyright"
            VALUE "OriginalFilename", MyCPP_Versioned_InternalNameStr ".sys"
            VALUE "ProductName", "TODO: Add product name"
            VALUE "ProductVersion", MyCPP_Versioned_ProductVersionRcStr
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

/////////////////////////////////////////////////////////////////////////////
